{% extends 'basic.html' %}
{% block main %}
     <!-- Example DataTables Card-->
     <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>完成进度</th>
                  <th>自备数据</th>
                  <th>比对词数</th>
                  <th>备注信息</th>
                  <th>创建人员</th>
                  <th>创建时间</th>
                  <th>查看</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
		 <th>完成进度</th>
                  <th>自备数据</th>
                  <th>比对词数</th>
                  <th>备注信息</th>
                  <th>创建人员</th>
                  <th>创建时间</th>
                  <th>查看</th>
                  <th>操作</th>
                </tr>
              </tfoot>
              <tbody>
	      {% for channel_row in channel_list %}
                 <tr>
                       <td>{{ channel_row.status }}</td>
			{% if channel_row.upload == True %}
                       		<td>自备数据</td>
			{% else %}
				<td>默认数据</td>
		        {% endif %}	
                       <td>{{ channel_row.querycount }}</td>
                       <td>{{ channel_row.remark }}</td>
                       <td>{{ channel_row.creater }}</td>
                       <td>{{ channel_row.create_time }}</td>
                       <td><a href="#">查看详情</a></td>
                       <td><a href="#">删除</a> <a href="#">停止</a> <a href="#">复制</a></td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock main %}
