{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 表单控件状态</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form class="form-horizontal" role="form" enctype="multipart/form-data" action="{% url 'diff:create' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="interfacetask-testurl">测试接口</label>
        <div class="col-sm-10">
		{{ form.testurl }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="interfacetask-defaulturl">对比接口</label>
        <div class="col-sm-10">
		{{ form.defaulturl }}
        </div>
    </div>

        <div class="form-group">
            <label for="interfacetask-querycount"  class="col-sm-2 control-label">对比词数
            </label>
            <div class="col-sm-3">
		{{ form.querycount }}
            </div>
        </div>
        <div class="form-group">
            <label for="interfacetask-topn"  class="col-sm-2 control-label">对比Top
            </label>
            <div class="col-sm-3">
		{{ form.topn }}
            </div>
        </div>
        <div class="form-group">
            <label for="interfacetask-pn"  class="col-sm-2 control-label">前几页
            </label>
            <div class="col-sm-3">
		{{ form.pn }}
            </div>
        </div>
        <div class="form-group">
            <label for="interfacetask-countrepeat"  class="col-sm-2 control-label">重试次数
            </label>
            <div class="col-sm-3">
		{{ form.countrepeat }}
            </div>
        </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="interfacetask-statusflag">状态字段</label>
        <div class="col-sm-10">
		{{ form.statusflag }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="interfacetask-resultflag">结果字段</label>
        <div class="col-sm-10">
		{{ form.resultflag }}
        </div>
    </div>
    <div class="form-group">
            <label for="interfacetask-threadnum"  class="col-sm-2 control-label">线程数量
            </label>
	    <div class="col-sm-3">
		{{ form.threadnum }}
            </div>
    </div>
    <div class="form-group">
            <label for="interfacetask-reason"  class="col-sm-2 control-label">原因挖掘
            </label>
            <div class="col-sm-3">
		{{ form.reason }}
            </div>
    </div>
    <fieldset disabled>
    <div class="form-group">
            <label for="interfacetask-creater"  class="col-sm-2 control-label">创建人员
            </label>
            <div class="col-sm-3">
		<input type="text" id="interfacetask-creater" class="form-control"  value="{{ user }}">
            </div>
        </div>
    </fieldset>
   <div class="form-group">
        <label for="interfacetask-datafile"  class="col-sm-2 control-label">上传数据
        </label>
       <div class="col-sm-3">
		{{ form.selfdata }}
        </div>   
   </div>
  <div class="form-group">
    <label for="mark" class="col-sm-2 control-label">备注信息</label>
     <div class="col-sm-10">
		{{ form.remark }}
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
     <div class="col-sm-offset-2">
    <button type="submit" class="btn btn-primary left">点击提交任务</button>
     <button type="button" class="btn">取消</button>
        </div>
     </div>
  </div>

</form>

</body>
</html>

